header {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  contain: size layout style;
  padding: 0 20px;
}

.navbar {
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 80px;
  background: #fff;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrapper {
  display: block;
  height: 49px;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 16px;
}

ul {
  list-style-type: none;
}

.navbar-nav {
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item {
  margin-right: 60px;
  color: #3d4152;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.nav-item:first-child {
  margin-right: 0;
}

.nav-item:hover {
  color: #fc8019;
}

.nav-item-anchor {
  display: flex;
  align-items: center;
  padding-left: 28px;
}
