.card-wrapper {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 1rem;
}

.card-wrapper:hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}

.card-wrapper .img-wrapper {
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.card-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-wrapper .card-text {
  width: 275px;
  margin-top: 8px;
}
